{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/c7c31fbd71.js" crossorigin="anonymous"></script>
    </head>                                                                                                                                                                                                                                                     

    <body>
        <section id = "header">
            <div style="display: flex; gap:15px; align-items: center;">
                <div class="open-btn" id="open" onclick="openNav()"><i class="fa-solid fa-bars"></i></div>
                <div id="sidebar" class="sidebar">
                    <a href="javascript:void(0)" class="close-btn" id="close" onclick="closeNav()">&times;</a>
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'store' %}">Store</a>
                    <a href="{% url 'about' %}" style="color: #9d18e6; font-weight:600;">About</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </div>
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" class="logo"></a>
            </div>
            <div>
                <ul id="top-bar">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'store' %}">Store</a></li>
                    <li><a class = "active" href="#">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>
            <p id="cart-count">0</p>
        </section>
        <section id="aboutContainer">
            <p class="about-text">Mahatis Associates specializes in the distribution of VKC brand footwear. As the first distributor in Chennai since the company's inception, we take pride in providing top-quality footwear to our customers. Our commitment to excellence extends to offering cut-size options and the best discounts to our loyal patrons. At Mahatis Associates, we prioritize customer satisfaction and strive to ensure that every individual finds the perfect pair of shoes for their needs. With our extensive range of VKC footwear, we aim to cater to the diverse preferences and requirements of our valued customers.</p>
            
            <h2>Payment</h2>
            <div class="payment-div">
                <img src="{% static 'images/qr.jpeg' %}">
                <div class="bank-details">
                    <h4>Bank Details</h4>
                    <p>City Union Bank - Ashok Nagar Branch, Chennai</p>
                    <p>CC A/c. No. 512020010006131</p>
                    <p>IFSC: CIUB0000130</p>
                </div>
            </div>            
        </section>

        <script>
            const cart = JSON.parse(localStorage.getItem('cart')) || [];
            if (cart.length == 0){
                document.getElementById('cart-count').style.display = 'none';
            }
            else{
                document.getElementById('cart-count').innerHTML = cart.length;
            }
        </script>

        <script>
            function openNav() {
                document.getElementById("sidebar").style.width = "250px";
                var overlay = document.createElement('div');
                overlay.style.position = 'fixed';
                overlay.style.top = '0';
                overlay.style.left = '0';
                overlay.style.width = '100%';
                overlay.style.height = '100%';
                overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
                overlay.style.zIndex = '5';
                overlay.id = 'overlay';
                document.body.appendChild(overlay);
                document.body.style.overflow = 'hidden';
            }
              
            function closeNav() {
                document.getElementById("sidebar").style.width = "0";
                var overlay = document.getElementById('overlay');
                if (overlay) {
                    overlay.parentNode.removeChild(overlay);
                }
            }
        </script>
    </body>
</html>